.signup_wrapper{
    width: 40%;
    max-width: 400px;
    height: auto;
    box-shadow: var(--shadow-box);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}
.title{
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0.8rem;
}
.callLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.callLogin >a, .callLogin > span{
    font-size: 0.9rem;
    text-decoration: none;
}

.callLogin >a{
    color: var(--theme);
}